<h1>API Documentation :: Admin Area</h1>
<% 
if(msg != undefined)
{ %>
	<div class="alert">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <strong>Message : </strong><%=msg %>
	</div>
<% } %>

<ul class="breadcrumb">
  <li><a href="/api-admin">AdminHome</a></li><span class="divider"> /</span>
  <li class="active"><%=api %> </li>
</ul>

<a style="margin: 0px 0px 14px 22px;" class="btn" href="/api-add"><i class="icon-plus"></i> New API Entry</a>


<div class="container-fluid">
  	<div class="row-fluid">
	    <div class="span2">
	      	<ul class="nav nav-tabs nav-stacked">
	      	    <% 
	      	    categories.forEach( function( cat ) {
	      	    	var active = '';
	      	    	if(api == cat)
	      	    	{
	      	    		active = "active";
	      	    	}
	      	    %>
	      	    	<li class="<%=active %>"><a href="/api-admin/?api=<%=cat %>"><i class="icon-chevron-right"></i> <%=cat %></a></li>
	      	    <%
	      	    });
	      	    %>
			</ul>
	    </div>

	    <div class="span10">
			<div class="accordion" id="accordion2">

				<%
				entries.forEach( function( entry ) { 
					if(api == entry.category )
					{
				%>

					<div class="accordion-group">
					    <div class="accordion-heading">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%= entry._id %>">
					        <div class="api-type-<%= entry.method %>"></div>
					        <div class="api-url-<%= entry.method %>"><%= entry.title %>	
					        	<button onClick="window.location.assign('/api-delete?id=<%=entry._id %>&api=<%=entry.category %>')" class="btn" style="float:right;margin-right: 10px;padding: 2px 9px;" href=""><i class="icon-trash"></i></button>

					        	<button onClick="window.location.assign('/api-edit?id=<%=entry._id %>');" class="btn" style="float:right;margin-right: 10px;padding: 2px 9px;" href="/api-edit?id=<%=entry._id %>"><i class="icon-pencil"></i></button>
					        	
					        </div>
					        
					      </a>
					    </div>
					    <div id="<%= entry._id %>" class="accordion-body collapse">
					      <div class="accordion-inner">
						        <table class="table table-bordered table-hover table-striped">
					              <tbody>
					                <tr>
					                  <td>URL</td>
					                  <td><%= entry.url %></td>
					                </tr>

					                <tr>
					                  <td>Request Params</td>
					                  <td>
					                  		<%
					                  		if(entry.params != 'undefined' && typeof entry.params == "object")
					                  		{
												entry.params.forEach( function( param ) { 
											%>
					                  				<span class="param-entry"><b><%=param.name%></b> : <i><%=param.description%></i></span><br/>
					                  		<%
												});
											}
											%>
					                  </td>
					                </tr>

					                <tr>
					                  <td>Response</td>
					                  <td>
					                  		<%
					                  		if(entry.response != 'undefined' && typeof entry.response == "object")
					                  		{
												entry.response.forEach( function( response ) { 
											%>
					                  				<span class="param-entry"><b><%=response.name%></b> : <i><%=response.description%></i></span><br/>
					                  		<%
												});
											}
											%>
					                  </td>
					                </tr>
					              </tbody>
					            </table>
					            <div class="api-html-area">
					            	<%-entry.html %>
					            </div>

					      </div>
					    </div>
					</div>
				<%
					}
				});
				%>
			</div>
	    </div>

  	</div>
</div>