<h1>API Documentation</h1>

<div class="container-fluid">
  	<div class="row-fluid">
	    <div class="span2">
	      	<ul class="nav nav-tabs nav-stacked">
	      	    <% 
	      	    categories.forEach( function( cat ) {
	      	    	var active = '';
	      	    	if(api == cat)
	      	    	{
	      	    		active = "active";
	      	    	}
	      	    %>
	      	    	<li class="<%=active %>"><a href="/?api=<%=cat %>"><i class="icon-chevron-right"></i> <%=cat %></a></li>
	      	    <%
	      	    });
	      	    %>
			</ul>
	    </div>

	    <div class="span10">
			<div class="accordion" id="accordion2">

				<%
				entries.forEach( function( entry ) { 
					if(api == entry.category )
					{
				%>

					<div class="accordion-group">
					    <div class="accordion-heading">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%= entry._id %>">
					        <span class="api-type-<%= entry.method %>"></span>
					        <span class="api-url-<%= entry.method %>"><%= entry.title %></span>
					      </a>
					    </div>
					    <div id="<%= entry._id %>" class="accordion-body collapse">
					      <div class="accordion-inner">
						        <table class="table table-bordered table-hover table-striped">
					              <tbody>
					                <tr>
					                  <td>URL</td>
					                  <td><%= entry.url %></td>
					                </tr>

					                <tr>
					                  <td>Request Params</td>
					                  <td>
					                  		<%
					                  		if(entry.params != 'undefined')
					                  		{
												entry.params.forEach( function( param_name, param_val ) { 
											%>
					                  				<%=param_name%> : <%=param_val%><br/>
					                  		<%
												});
											}
											%>
					                  </td>
					                </tr>

					                <tr>
					                  <td>Response</td>
					                  <td>
					                  	Type : json<br/>
					                    Template: {status:"",msg:"",data:null}<br/>
					                    status : Boolean value of the request status<br/>
					                    msg    : Error / Warning / Success message<br/>
					                    data   : Data attached to the respond<br/>
					                  </td>
					                </tr>
					              </tbody>
					            </table>
					      </div>
					    </div>
					</div>
				<%
					}
				});
				%>
			</div>
	    </div>

  	</div>
</div>