<h1>API Documentation</h1>

<ul class="breadcrumb">
  <li><a href="/">Home</a></li><span class="divider"> /</span>
  <% if(api != undefined){ %>
	  <li class="active">
	  		<%=api %>
	  </li>
  <% } %> 
</ul>

<div class="container-fluid">
  	<div class="row-fluid">
	    <div class="span2">
	      	<ul class="nav nav-tabs nav-stacked">
	      	    <%
	      	    var cur_api; 
	      	    apis.forEach( function( tmp_api ) {
	      	    	var active = '';
	      	    	if(api == tmp_api.name)
	      	    	{
	      	    		active  = "active";
	      	    		cur_api = tmp_api;
	      	    	}
	      	    	if(tmp_api.name != 'home')
	      	    	{
	      	    %>
	      	    		<li class="<%=active %>"><a href="/?api=<%=tmp_api.name %>"><i class="icon-chevron-right"></i> <%=tmp_api.name %></a></li>
	      	    <%
	      	    	}
	      	    });
	      	    %>
			</ul>
	    </div>

	    <div class="span10">
	    	<%  if(cur_api != undefined)
		    	{
		    		%>
		    			<a href="#" data-toggle="collapse" data-target="#api_intro_html"><h3><%=cur_api.title%></h3></a>
		    			<div id="api_intro_html" class="collapse <% if(cur_api.name =='home'){%>in<%} %>">
		    				<div class="api-intro">
		    					<%-cur_api.html %>
		    				</div>		
		    			</div>
		    		<%
		    	}
	    	%>
	    </div>


	    <div class="span10">
			<div class="accordion" id="accordion2">

				<%
				if(entries != undefined)
				{
					entries.forEach( function( entry ) { 
						if(api == entry.category )
						{
				%>

					<div class="accordion-group">
					    <div class="accordion-heading">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%= entry._id %>">
					        <div class="api-type-<%= entry.method %>"></div>
					        <div class="api-url-<%= entry.method %>"><%= entry.title %></div>
					      </a>
					    </div>
					    <div id="<%= entry._id %>" class="accordion-body collapse">
					      <div class="accordion-inner">
						        <table class="table table-bordered table-hover table-striped">
					              <tbody>
					                <tr>
					                  <td>URL</td>
					                  <td><%= entry.url %></td>
					                </tr>

					                <tr>
					                  <td>Request Params</td>
					                  <td>
					                    <ul>
					                  		<%
					                  		if(entry.params != 'undefined' && typeof entry.params == "object")
					                  		{
												entry.params.forEach( function( param ) { 
											%>
					                  				<li><span class="param-entry"><b> <%=param.name%></b> : <i><%=param.description%></i></span></li>
					                  		<%
												});
											}
											%>
										</ul>
					                  </td>
					                </tr>

					                <tr>
					                  <td>Response</td>
					                  <td>
					                    <ul>
					                  		<%
					                  		if(entry.response != 'undefined' && typeof entry.response == "object")
					                  		{
												entry.response.forEach( function( response ) { 
											%>
					                  				<li><span class="param-entry"><b><%=response.name%></b> : <i><%=response.description%></i></span></li>
					                  		<%
												});
											}
											%>
										</ul>
					                  </td>
					                </tr>
					              </tbody>
					            </table>
					            <div class="api-html-area">
					            	<%-entry.html %>
					            </div>

					      </div>
					    </div>
					</div>
				<%
						}
					});
				}else{
				%>
					just api page only
				<%
				}
				%>
			</div>
	    </div>

  	</div>
</div>